{% extends "base.html" %} {% block title %}ColorBlindPage{% endblock %}

{% block content %}
    <br />
    <body style="background-color: #f0f0f0;">
    <h1 align="center", style="color: #000000d0; font-family: 'Times New Roman', Times, serif; font-size:300%;">Colorblindness Informational Guide</h1>
    <h3 align="center", style="color: #000000d0; font-family: 'Times New Roman', Times, serif; font-size:200%;">(In Black and White)</h3>

    <div align = "center", style="font-family: 'Times New Roman', Times, serif;">
    <label style = "margin-top: 1em; color: rgb(38, 46, 46);", for="buttonPS">Head to the blue and yellow page!</label>
    <br />
    <button align="center" class="bn29", style ="margin-top: .1em;", id="buttonPS", type="button", onclick="window.location.href = '/blueandyellow';">Palette Swapper!</button>
    </div>

<link rel="stylesheet" href="/static/style.css">

        <br />
        <t2>
            Understanding the Different Types of Colorblindness
        </t2>
        <p class="q" >Colorblindness is a condition in which individuals perceive color differently than the 
            majority of the world, often lacking the ability to see certain colors, or even all 
            colors around them. It is a very unique and rare condition and can impact people’s 
            daily lives</p>
        <t2>
            What are the Different Kinds of Colorblindness?
        </t2>
        <p class="q">
            <strong>Black and white colorblindness (achromatopsia):</strong> 
            Sees the world in shades of gray and is usually a condition which 
            is congenital and is present from birth. 
            <br />
            <strong>Green Color Blindness (Deuteranopia):</strong> 
            Do not have or have impaired green cone cells in their eyes which 
            results in difficulty distinguishing between shades of green 
            and red. 
            <br />
            <strong>Red Color Blindness (Protanopia):</strong> 
            The absence or malfunctioning of red cone cells causes the struggle 
            to differentiate between red and green colors as they are seen 
            as the same color.
        </p>
        <t2>
            Causes of the Different Types of Colorblindness
        </t2>
        <p class="q">
            <strong>Black and white colorblindness (achromatopsia):</strong> 
            This type of colorblindness is usually caused by cone cells in the 
            retina being genetically mutated and since these
            cone cells are responsible for how color is perceived, 
            it affects the person’s color vision. Furthermore, often cones are 
            extremely impaired or even nonfunctional as well as can be often 
            inherited only when both parents carry the mutated gene. 
            <br />
            <strong>Green Color Blindness (Deuteranopia):</strong> 
            The type of colorblindness is affected by the genetic mutation of 
            the X chromosome and thus is why mostly men are affected by green-red 
            colorblindness since they only carry one X chromosome. 
            Women are able to compensate for the mutation of one of their X 
            chromosomes with the other.
            <br />
            <strong>Red Color Blindness (Protanopia):</strong> 
            The type of colorblindness is affected by the genetic mutation of the 
            X chromosome and thus is why mostly men are affected by green-red 
            colorblindness since they only carry one X chromosome. Women are able 
            to compensate for the mutation of one of their X chromosomes with the other.
        </p>
        <t2>
            Impact on Daily Life
        </t2>
        <p class="q">
            <strong>Black and white colorblindness:</strong> 
            This type of colorblindness can often cause individuals to become 
            extremely sensitive to light and can often lead to painful situations 
            if they are in bright environments. Furthermore, some people might 
            even have a hard time differentiating between small details as they 
            have reduced visual acuity. This will make it hard for them to see 
            fine details or even read small text. Lastly, the most obvious impact 
            on the lives of Black and White colorblind people is when they have to 
            perform tasks based on color discrimination. For example, if at work 
            their boss tells them to bring the “blue” folder, they might have a 
            hard time performing the simple task. 
            <br />
            <strong>Green and Red Colorblindnes:</strong> 
            One of the main impacts of green and red 
            colorblindness is driving as it is hard to differentiate between the traffic lights go 
            and stop and can lead to dangerous situations. Furthermore, many professional 
            settings have the default red-green combination for tasks such as graphic 
            designing, electrical work, medical care, etc. which can lead to very difficult time for
            individuals with these conditions to go into these types of professions. Overall, since
            society uses red and green a lot for indicators, whether it be in sports, work 
            situations, games, etc. life overall is made a bit more difficult and stressful.
        </p>
        <t2>
            Coping Strategies and Support
        </t2>
        <p class="q">1. Wearing appropriate Eyewear: Using tinted or polarized lenses can often help 
            individuals to reduce their sensitivity in bright environments as well as can 
            sometimes help with their vision.</p>
        <p class="q">2. Assistive Technologies: New specialized apps have been made to help individuals 
            with color blindness identify different colors and differentiate between colors which 
            might come off as the same. These apps can help in daily tasks such as reading 
            color coded text, helping color code outfits and colors of socks, etc.</p>
        <p class="q">3. Educational Awareness: It is highly important for people with colorblindness to 
            help educate those around them and gather support in daily situations. Not 
            speaking of the condition might lead to confusion and misunderstanding between 
            family and friends and can often help in building an inclusive and accommodating 
            environment.</p>
        <p class="q">4. Regular Eye Exams and Profession Help: It can often be helpful to regularly get 
            eyes checked and monitor the state of the color vision. This can help detect any 
            changes in the color vision of the individual and also help them find new ways to 
            manage their conditions.</p>

{% endblock %}
